/* fontes personalizadas */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

/* estilo geral */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.area-usuario {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.area-usuario h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
}

.form-group select {
  cursor: pointer;
}

button[type="submit"] {
  display: block;
  background-color: #0077b6;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  margin: 20px auto 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #004e7c;
}

.container {
  position: relative;
}

.profile-picture-user {
  width: 50px;
  margin-left: 0px;
  margin-top: -60px;
  margin-bottom: 15px;
  height: auto;
  z-index: 1;
}
