.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  margin-top: 50px; /* Valor pode ser ajustado conforme necessário */
  padding-left: 100px;
  padding-right: 100px; /* Adiciona padding horizontal para aumentar as laterais */
  box-sizing: border-box; /* Garante que o padding seja incluído na largura total */
}

.signup-form {
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 400px;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(29, 255, 251, 0.2);
}

.name-inputgroup input{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #faf7f7;
  font-size: 16px;
  width: 100%;
}

.username-inputgroup input {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #faf7f7;
  font-size: 16px;
  width: 100%;
}

.email-inputgroup input {
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #faf7f7;
  font-size: 16px;
  width: 100%;
}

.password-inputgroup input {
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #faf7f7;
  font-size: 16px;
  width: 100%;
}

.confirm-password-inputgroup input{
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #faf7f7;
  font-size: 16px;
  width: 100%;
}

.form-input input{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #faf7f7;
  font-size: 16px;
  width: 100%;
}

.profile {
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #a9dbff;
  margin: 10px;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
}

.phone-inputgroup input{
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #faf7f7;
  font-size: 16px;
  width: 100%;
}

.cpf-inputgroup input{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #faf7f7;
  font-size: 16px;
  width: 100%;
}

h1 {
  color: #19BCFE;
  margin-bottom: 20px;
  font-size: 50px;
}

label {
  margin-bottom: 10px;
  color: #333;
}



  .signup-button{
  background-color: #19BCFE;
  color: #fff;
  padding-right: 18px;
  padding-left: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 11px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#login-link{
  color: #19BCFE;
}

.background-image {
  background-image: url('../../../assets/login-page.svg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 50px;
}

.check-icon {
  margin-left: 5px;
  font-size: 12px;
  transition: color 0.2s ease-in-out;
}

.check-icon.checked {
  color: green;
}
