.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  margin-top: 50px; /* Valor pode ser ajustado conforme necessário */
  padding-left: 100px;
  padding-right: 100px; /* Adiciona padding horizontal para aumentar as laterais */
  box-sizing: border-box; /* Garante que o padding seja incluído na largura total */
}

form {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(58, 169, 255, 0.2);
  width: 400px; /* Ajusta a largura total do formulário */
}

.input-group input {
  padding: 40px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #faf7f7;
  font-size: 16px;
  width: 100%;
}

.form-input {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 400px; /* Defina o tamanho máximo desejado para os inputs */
}

.input-group input {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #faf7f7;
  font-size: 16px;
  width: 100%;
}

button[type="submit"] {
  background-color: #19BCFE;
  color: #fff;
  padding-right: 18px;
  padding-left: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 11px;
  margin-top: 20px;
  margin-bottom: 20px;
}