/*Importando a font Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Lora&family=Merriweather:wght@300&family=Poppins:wght@300&family=Roboto+Mono:wght@300&display=swap');

/* background-image: url(/FrontEnd/imgs/fundo1.jpeg); */
body{
    background-color:  rgb(7, 19, 43); 
    width: 100%;
    
    font-family: "Popins", sans-serif;

}
/* div primeiro*/ 
.contatofundo{
    display: flexbox;
    position: absolute;
    width: 600px;
    height: 470px;
    left: 50px;
    top: 80px;
    background:  #04b4fc;
    opacity: 40%;
    border-radius: 15px;
    align-items: center;
}
/* Edição formulario*/ 
#txtNome{
    position: absolute;
    width: 230px;
    height: 30px;
    top: 120px;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    border: solid;
    border: 10px;
    border-color: black;
    font-size: 15px;
    color: white;
    font-family: "Inter"
}
#txtEmail{
    position: absolute;
    width: 230px;
    height: 30px;
    top: 120px;
    left: 370px;
    border-radius: 5px; 
    background-color: rgb(0, 0, 0);
    border: solid;
    border: 10px;
    border-color: black;
    font-size: 15px;
    color: white;
    font-family: "Inter"
}
#txtEndereco{
    position: absolute;
    top: 180px;
    width: 500px;
    height: 30px;
    right: 760px;
    background-color: rgb(0, 0, 0);
    border: solid;
    border: 10px;
    border-color: black;
    font-size: 15px;
    color: white;
    border-radius: 5px; 
    font-family: "Inter";
    
}
#txtMensagem{
    position: absolute;
    width: 500px;
    top: 240px;
    left: 100px;
    border-radius: 5px; 
    background-color: rgb(0, 0, 0);
    border: solid;
    border: 10px;
    border-color: black;
    font-size: 15px;
    color: white;
    font-family: "Inter";
}
/*4 Botão*/ 
.botao{
    position: absolute;
    top: 460px;
    right: 770px;
    width: 500px;
    background-color: rgb(0, 0, 0);
    padding: 12px;
    border-radius: 18px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    font-family: "Inter"
    
}

/*4 Div pretas*/ 
.fundo1{
    position: absolute;
    background-color: #04b4fc;
    width: 200px;
    height: 220px;
    border-radius: 20px;
    top: 80px;
    right: 430px;
    opacity: 40%;
}
.fundo2{
    position: absolute;
    background-color: #04b4fc;
    width: 200px;
    height: 220px;
    border-radius: 20px;
    top: 330px;
    right: 430px;
    opacity: 40%;

}
.fundo3{
    position: absolute;
    background-color: #04b4fc;
    width: 200px;
    height: 220px;
    border-radius: 20px;
    top: 330px;
    right: 150px;
    opacity: 40%;

}
.fundo4{
    position: absolute;
    background-color: #04b4fc;
    width: 200px;
    height: 220px;
    border-radius: 20px;
    top: 80px;
    right: 150px;
    opacity: 40%;

}
/*Imagem das Divs pretas*/ 
.email{
    position: absolute;
    top: 85px;
    width: 8%;
    right: 485px;
    width: 6%;
}
.telefone{
    position: absolute;
    top: 340px;
    width: 8%;
    right: 485px;
    width: 6%;
}
.localizacao{
    position: absolute;
    top: 90px;
    width: 8%;
    right: 210px;
    width: 5%;
}
.instagram{
    position: absolute;
    top: 340px;;
    width: 8%;
    right: 215px; 
    width: 6%;
}
/*Texto das Divs pretas*/ 
.fontEmail{
    color: white;
    position: absolute;
    top: 150px;
    width: 8%;
    right: 450px;
    font-family: "Inter"
}
.fontTelefone{
    color: white;
    position: absolute;
    top: 410px;
    width: 8%;
    right: 470px;
    font-family: "Inter"
}
.fontlocalização{
    color: white;
    position: absolute;
    top: 150px;
    width: 8%;
    right: 210px;
    font-family: "Inter"
}
.fontInstagram{
    color: white;
    position: absolute;
    top: 410px;;
    width: 8%;
    right: 200px; 
    font-family: "Inter"
}
/*Texto com informações das Divs pretas*/ 
.Email{
    color: white;
    position: absolute;
    color: white;
    position: absolute;
    font-size: 19px;
    top: 200px;
    width: 8%;
    right: 510px;
    font-family: "Inter"
}
.tel{
    color: white;
    position: absolute;
    position: absolute;
    top: 450px;
    width: 8%;
    right: 515px;
    font-size: 19px;
    font-family: "Inter"
}
.cep{
    color: white;
    position: absolute;
    top: 200px;
    width: 8%;
    right: 230px;
    font-size: 19px;
    font-family: "Inter"
}
.Insta{
    color: white;
    position: absolute;
    position: absolute;
    font-size: 19px;
    top: 450px;;
    width: 8%;
    right: 200px; 
    font-family: "Inter"
}
