/*Importando a font Inter*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Lora&family=Merriweather:wght@300&family=Poppins:wght@300&family=Roboto+Mono:wght@300&display=swap');

/*Resetando o CSS*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}


/* Configurando o container*/

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4%;
}


/* Configurando o body */

body {
    min-height: 100vh;
    background-color: rgb(7, 19, 43);
}


/* Espaçamento e flex dos itens */

main {
    display: flex;
    align-items: center;
    margin-top: 45px;
}


/* Conteudo da main */

main .texto-main {
    width: 50%;
}


/* Editando título h1 */

main .texto-main h1 {
    font-size: 60px;
}


/* Jogando o texto pra baixo do título */

main .texto-main strong {
    display: block;
    font-weight: normal;
}


/* Editando o negrito */

main .texto-main h1 b {
    background-color: #04b4fc;
    color: rgb(0, 0, 0);
    padding: 5px 0px;
    font-size: 5rem;
}


/* Editando o texto */

main .texto-main p {
    color: rgb(255, 255, 255);
    margin: 10px 0 10px;
    width: 90%;
}


/* Fazendo o flex do header */

main .texto-main li {
    list-style: none;
    display: flex;
    align-items: center;
}

main .texto-main li {
    width: 50%;
    background-color: #04b4fc;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 20px 90px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 17px;
    border: 1px solid transparent;
    transition: all 0.5s;
}

main .texto-main li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


/* Hover do botão(botão vai pra trás) */

main .texto-main li a:hover {
    transform: scale(0.9);
}


/* Configurando a posição da imagem na main */

main .imagem-main {
    width: 50%;
}
/*Ajustando posição footer*/
footer{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    top: -300px;
}