/* Importando fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

/* Resetando o CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: " Inter ", sans-serif;
}

body{
    background-color: rgb(18, 22, 37);
    width: 100%;
    height: 100vh;
    display:-ms-flexbox;
    align-items: center;
    justify-content: center;
}
/* Deixar as barras de navegações limpas*/
.menu{
    display: flex;
    list-style:none;

}
/* Imagens*/
.imagens{
    justify-content: center;
    display: flexbox;
}
.img1{
    position: absolute;
    width: 224px;
    height: 119px;
    left: 25px;
    top: 120px;
    background-image: url(imgs/div\ 1.png);
    border-radius: 100px;
}
.img2{
    position: absolute;
    width: 224px;
    height: 119px;
    left: 375px;
    top: 120px;
    background-image: url(imgs/div2.png);
    border-radius: 100px;
}
.img3{
    position: absolute;
    width: 224px;
    height: 118px;
    left: 725px;
    top: 120px;
    background-image: url(imgs/div\ 3.png);
    border-radius: 100px;
}
.img4{
    position: absolute;
    width: 249px;
    height: 118px;
    left: 1075px;
    top: 120px;
    background: url(imgs/div\ 4.png);
    border-radius: 100px;
   
}
/* Texto com sombra*/
.fundo1{
    position: absolute;
    width: 258px;
    height: 178px;
    left: 25px;
    top: 260px;
    background: rgb(18, 22, 37);
    box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

}
.fundo2{
    position: absolute;
    width: 258px;
    height: 178px;
    left: 375px;
    top: 260px;
    background: rgb(18, 22, 37);
    box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

}
.fundo3{
    position: absolute;
    width: 258px;
    height: 178px;
    left: 725px;
    top: 260px;
    background-color:rgb(18, 22, 37);
    box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

}
.fundo4{
    position: absolute;
    width: 258px;
    height: 178px;
    left: 1075px;
    top: 260px;
    background: rgb(18, 22, 37);
    box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

}
.fonte, h6{
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    padding-top: 30px;
    color: white;
}
/* Texto com sombra*/
.cartao{
    position: absolute;
    width: 35%;
    height: 220px;
    background-image: url(imgs/cart╞o.jpg);
    top: 475px;
    opacity: 80%;
    
}
/* Simulador Investimentos*/
.Simulador{
  position: absolute;
  width: 500px;
   background-image: url(imgs/2270806-fundo-tecnologia-azul-moderno-gratis-vetor.jpg);
  height: 260px;
  top: 450px;
  left: 650px;
  border-radius: 100px;
  opacity: 50%;
}
.Simulador-font{
    position: absolute;
    font-size: 19px;
    color: rgb(255, 255, 255);
    top: -114px;
    right: 90px;
    

}
.espaço1{
    position: absolute;
    height: 45px;
    width: 400px;
    left: 50px;
    top: 125px;
    border-radius: 100px;
    background:  rgb(18, 22, 37);;
}
.espaço2{
    position: absolute;
    height: 45px;
    width: 400px;
    left: 50px;
    top: 200px;
    border-radius: 100px;
    background:  rgb(18, 22, 37);;
}
.espaço3{
    position: absolute;
    height: 45px;
    width: 400px;
    left: 50px;
    top: 50px;
    border-radius: 100px;
    background:  rgb(18, 22, 37);;
    align-items: center;
}
.fonteDiv{
    position: absolute;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    top: 10px;
    left: 15px;
    opacity: 70%;
}
/* Misão Visão Quem somos*/
.Quem-somos{
    height: 14px;
    width: 326px;
    position: absolute;
    width: 326px;
    height: 14px;
    left: -13px;
    top: 778px;
    background: #0137A3;

}
.misão{
    height: 14px;
    width: 326px;
    position: absolute;
    left: 500px;
    top: 778px;
    background: #2F6AEA;
}
.visão{
    height: 14px;
    width: 326px;
    position: absolute;
    width: 326px;
    height: 14px;
    left: 1025px;
    top: 778px;
    background: #6B9AF4;
}
/*Misão Visão Quem somos-Texto*/
.font1{
    position: absolute;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0em;
    color: #0137A3;
    top: 790px;
    font-weight: 800;
    right: 1095px;
  

}
.font2{
    position: absolute;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0em;
    color:  #2F6AEA;
    top: 790px;
    font-weight: 800;
    right: 640px;

}
.font3{
    position: absolute;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0em;
    color: #6B9AF4;
    top: 790px;
    font-weight: 800;
    right: 150px;
}
/*isão Visão Quem somos-Explicação*/
.texto1{
    position: absolute;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 600;
    line-height: 30px;
    color: white;
    top: 840px;
    right: 1025px;
}
.texto2{
    position: absolute;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 600;
    line-height: 30px;
    color: white;
    top: 840px;
    right: 550px;
}
.texto3{
    position: absolute;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 600;
    line-height: 30px;
    color: white;
    top: 840px;
    right: 30px;
}