/*Importando a font Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Lora&family=Merriweather:wght@300&family=Poppins:wght@300&family=Roboto+Mono:wght@300&display=swap');


/*Resetando o CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4%;
}

body{
    min-height: 100vh;
    background-color:rgb(7, 19, 43) ;
}

.logo{
    width: px
}

nav{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav .logo{
    width: 90px;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    padding: 20px;
}

nav ul li:not(.login)::after{
    display: block;
    content: "";
    width: 0%;
    background-color: white;
    transition: 0.5s;
    height: 3px;

}

nav ul li:hover::after{
    width: 100%;
}

nav ul li.lg{
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px 40px;
    margin-left: 30px;

}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}

main{
    display: flex;
    align-items: center;
    margin-top: 60px;
}

main .texto-main{
    width: 50%;
}

main .texto-main h1{
    font-size: 64px;
}

main .texto-main strong{
    display: block;
    font-weight: normal;
}

main .texto-main h1 b{
    background-color: black;
    color: white;
    padding: 5px 0px;
    font-size: 5rem;
}

main .texto-main p{
    color: red;
    margin: 20px 0 40px;
    width: 90%;
}

main .texto-main button{
    background-color: #04b4fc;
    color: white ;
    border-radius: 15px;
    padding: 30px 60px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 17px;
    border: 1px solid transparent;
    transition: all 0.5s;
}

main .texto-main button:hover{
    transform: scale(0.9);
}

main .imagem-main{
    width: 50%;
}

main .imagem-main img{
    width: 100%;
}