.myform {
  max-width: 100%;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
}

.modal-body {
  padding: 0;
}

/* .btn-close {
  position: absolute;
  right: 0;
  padding: 1em;
}

.modal-content {
  width: 80%; */
/* margin: 0 auto;
} */
