/*Importando a font Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Lora&family=Merriweather:wght@300&family=Poppins:wght@300&family=Roboto+Mono:wght@300&display=swap');

/*Resetando o CSS*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', serif;
}

/* Definindo a altura e largura do flex e justificando o conteúdo */
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c0ce94d;
}

h1{
    color:white ; 
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 19, 43);
    padding: 16px;
}

/* Editando o tamanho da imagem */
.form-image img {
    width: 500px;
}

/* Estilizando o flex do formulário */
.formulario {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 19, 43);
    padding: 3rem;
}


/* Posicionando o cadastre-se */
.form-header {
    margin-bottom: 79px;
    display: inline-flex;
    flex-direction:unset;
    margin-left: 220px;
}

/* Linha em baixo do Login */
.form-header h1::after {
    content: ' ';
    display:flex;
    width: 260px;
    height: 7px;
    background-color: #04b4fc;
    margin-right: 250px 0;
    position:static;
    border-radius: 12px;
}

/* Espaçamento entre os forms */
.grupo-input {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-left: 250px;
    margin-right: 350px;
    padding: 8px ;
}

/* Alinhamento dos inputs forms*/
.caixa-input {
    display: flex;
    flex-direction:column;
    margin-bottom: 5px;
}


/* Configurando o input */
.caixa-input input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    font-size: 12px;
}

/* Flutuar do input */
.caixa-input input:hover {
    background-color: #c4bdbd75;
}

/* Borda outline azul bebe */
.caixa-input input:focus-visible {
    outline: 1px solid  #04b4fc;
}

/* Editando os textos label (Título do input) */
.caixa-input label, h6 {
    font-size: 17px;
    font-weight: 600;
    color: #747383;
}

/* Aprendi como estilizar o placeholder*/
.caixa-input input::placeholder {
    color: black[];
    opacity: 0.90;
}


/* Configurando o padding do botão continuar */
.botao-continuar button {
    width: 45%;
    margin-top: 40px;
    margin-left: 175px;
    border: none;
    background-color:  #04b4fc;
    padding: 12px;
    border-radius: 18px;
}



/* Fonte botao continuar */
.botao-continuar button a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

/* Esqueci-senha */

.esqueci-senha {
    color: rgb(255, 255, 255);
    width: 45%;
    text-decoration: underline;
    margin-top: 12px;
    margin-left: 175px;
    text-decoration: none;
    font-size: 16px;
    
}


