body{
    background-color: rgb(7,19,43);
}
/*Resetando o CSS*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}


/* Configurando o container*/

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4%;
}


/* Configurando o body */

body {
    min-height: 100vh;
    background-color: rgb(7, 19, 43);
}


/* Editando a logo */

nav a img {
    width: 50px;
}


/* Configurando o header */

nav {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Logo no header */

nav .logo {
    width: 90px;
}


/* Fazendo o flex do header */

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Modificando a lista */

nav ul li {
    padding: 20px;
}


/* Hover arrasta */

nav ul li:not(.login)::after {
    display: block;
    content: "";
    width: 0%;
    background-color: white;
    transition: 0.5s;
    height: 3px;
}


/* Hover arrasta */

nav ul li:hover::after {
    width: 100%;
}


/* Configurando o botão de login */

nav ul li.login {
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px 40px;
    margin-right: 20px;
}


/* Configurando o botão de cadastro */

nav ul li.cadastro {
    background-color: #04b4fc;
    border-radius: 30px;
    padding: 5px 40px;
    margin-right: 20px;
}


/* Botao cadastro */

nav button {
    background-color: #04b4fc;
    border-radius: 30px;
    padding: 5px 40px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 17px;
    border: 1px solid transparent;
    transition: all 0.5s;
    margin-right: -50px;
}


/* Editando o text decoration do botão de cadastro*/

nav button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


/* Texto do header */

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}
/*............................................................................................................................*/
/*3 Imagens de Noticias*/
.noticia1{
    position: absolute;
    width: 630px;
    height: 500px;
    top: 100px;
    right: 650px;
    border: solid;
    border-width: 3px;
    border-color: black;
}
.noticia2{
    position: absolute;
    width: 500px;
    height: 220px;
    top: 100px;
    right: 70px;
    border: solid;
    border-width: 3px;
    border-color: black;
}
.noticia3{
    position: absolute;
    width: 500px;
    height: 220px;
    top: 380px;
    right: 70px;
    border: solid;
    border-width: 3px;
    border-color: black;
}
/*Titulo da noticia*/
.font1{
    position: absolute;
    color: white;
    font-weight: 600;
    font-size: 33px;
    top: 110px;
    right: 700px;
    text-align: center;
}
.font2{
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: 600;
    top: 105px;
    right: 80px;
    text-align: center;
}
.font3{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 30px;
    top: 380px;
    right: 150px;
    font-weight: 600;
    text-align: center;
}
/*resumo notica*/
.resumo1{
    position: absolute;
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    color: white;
    top: 200px;
    right: 700px    
}
.resumo2{
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
    top: 185px;
    right:110px   
}
.resumo3{
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
    top: 450px;
    right: 80px  
}
/*Link para materia*/
.link1{
    position: absolute;
    border-radius: 3px;
    border: 10px;
    top: 580px;
    right: 670px;
    color: white;
    font-size: 17px;
    font-weight: 1000;
    text-decoration: none;
}
.link2{
    position: absolute;
    border-radius: 3px;
    border: 10px;
    top: 300px;
    right: 80px;
    color: white;
    font-size: 17px;
    font-weight: 1000;
    text-decoration: none;
}
.link3{
    position: absolute;
    border-radius: 3px;
    border: 10px;
    top: 580px;
    right: 90px;
    color: white;
    font-size: 17px;
    font-weight: 1000;
    text-decoration: none;
}


