.course-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}


.titlee{
  font-size: 40px;
  color: #19BCFE;
  text-align: center;
  margin-bottom: -200px;
  
  
}

.course-card {
  width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(14, 193, 253, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.course-card:hover {
  transform: translateY(-5px);
}

.course-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.course-card h2 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.course-card p {
  color: #666;
  margin-bottom: 15px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.course-button {
  background-color: #19BCFE;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.course-button:hover {
  background-color: #086df0;
}
