<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de cadastro</title>

    <link rel="stylesheet" href="css/header.css">
</head>
<body>


<!-- Tag header -->
    <header>

    <div class="logo"></div>

    <h1 class="menu">U-invest</h1>

    <ul class="menu">
        <li> <a href=""> Home </a> </li>
        <li> <a href=""> Sobre nós </a> </li>
        <li> <a href=""> Notícias </a></li>
        <li> <a href=""> Contate-nos </a></li>

    </ul>
    <ul class="login">
        <li> <a href=""> Login </a></li>

    </ul>
    </header>
    
</body>
</html>