<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Homepage</title>

    <link rel="stylesheet" href="css/header.css">

</head>

<body>

    <!-- Organiza o flex do site -->
    <div class="container">
        <!-- Navegador do site(Header) -->
        <nav>
            <div class="logo">
                <a href="index.html"> <img src="css/logo.png" alt=""></a>
            </div>

            <!-- Header -->
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="noticias.html">Notícias</a></li>
                <li><a href="areaUsuario.html">Ações</a></li>
                <li><a href="contato.html">Contato</a></li>
                <!-- "botão" Login -->
                <li class="login"> <a href="login.html">Login</a></li>
                <li class="cadastro"> <a href="cadastro.html">Cadastro</a></li>
            </ul>


        </nav>