.container-password {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  
}

.password-h1 {
  font-size: 24px;
  margin-top: 200px;
}

.password-p {
  font-size: 16px;
  margin-bottom: 90px;
}

a {
  color: #000000;
  text-decoration: none;
}

.button-forgot-password {
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding: 10px 20px;
  background-color:  #0077b6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
}

.email-password input{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #ffffff;
    color: black;
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px;
}