/*Importando a font Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Lora&family=Merriweather:wght@300&family=Poppins:wght@300&family=Roboto+Mono:wght@300&display=swap');

/* Definindo o body */
body{
    line-height: 1.5; 
    font-family: "Popins", sans-serif;
}

/* Modificando o footer */
.footer{
    padding: 70px 0;
    background-color: rgb(7, 19, 43);
}

/* Resetando o CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Modificando o Conteiner */
.container{
    max-width: 1170px;
    margin: auto;
}

/* Mudando a fileira */
.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

/* Modificando o footer */
.footer{
    padding: 70px 0;
}

/* Definindo o col footer */
.footer-col{
    width: 25%;
    padding: 0 15px;
}

/* Alteranto o H4 do footer */
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;

}

.footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #04b4fc;;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}


