/*Importando a font Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Lora&family=Merriweather:wght@300&family=Poppins:wght@300&family=Roboto+Mono:wght@300&display=swap');

/*Resetando o CSS*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', serif;
}

/* Ediçaõ da barra Header */
header{
    display: flex;
    width: 100%;
    height: 90px;
    background-color: rgb(7, 19, 43);
    justify-content: space-between;
    align-items: center;
}

/* U-Invest */
h1{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

/* CSS das abas de nav*/
.menu li a{
    color: rgb(207, 198, 198);
    text-decoration: none;
    margin-left: 70px;
    margin-right: 110px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Hover = flutuar, faz a interação com o texto*/
.menu li a:hover{
    color: rgb(14, 167, 214);
    text-decoration: none;

}

/* Botão de login */
.login{
    display: flex;
    list-style: none;
}

/* CSS do login */
.login li a{
        color: white;
        margin-right: 40px;
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}


