.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #19bcfe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 9999;
}

.chat-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 500px;
  max-width: 100%;
  padding: 20px;
  border-radius: 15px;
}

.chat-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  
}

.chat-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.header-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-top: -5px;
}

.close-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color:  #19bcfe;
  margin-left: 379px;
  margin-top: -20px;
}
/**/
.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.chat-scrollable {
  max-height: 300px;
  overflow-y: auto;
  
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%; 
  word-wrap: break-word; 
  overflow-wrap: break-word;
}

.user {
  background-color: #c5e1ff;
  margin-left: auto;
}

.bot {
  background-color: #f2f2f2;
}

.chat-input {
  display: flex;
}

.chat-input input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: -10px;
}

.chat-input button {
  background-color: #19bcfe;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  padding-left: 10px;
  cursor: pointer;
}

.message-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.chat-input input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  resize: vertical; 
}
.clear-icon {
  width: 20px;
  height: 20px;
  margin-top: -285px; 
  margin-right: 25px;
}

.button-container {
  display: flex;
  justify-content: flex-end; 
}






